.App {
  text-align: center;
}


.App-NavBar {

  background-color: #836464;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(3px + 2vmin);
  color: white;
}


